<ion-view view-title = "Dashboard">
    <br>
<ion-content class = "padding">
    <form class="search col focus" method="post">
    <div class="content row">
        <div class = "col">
            <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search">
                 <ul class="results" >
			 <li><a href="index.html">Search Result #1<br /><span>Description...</span></a></li>
			 <li><a href="index.html">Search Result #2<br /><span>Description...</span></a></li>
	 		<li><a href="index.html">Search Result #3<br /><span>Description...</span></a></li>
         	<li><a href="index.html">Search Result #4</a></li>
		 </ul>
            </label>
        </div>
          
    </div>
        </form>
<div class="list card">
   <div class="list">
    
        <ion-item class="item-thumbnail-left" href = '#'>
            <img src = "/img/ben.png">
            <h2>Product Name</h2>
            <p>Description goes here</p>
            
        </ion-item>
    
    <i class="button button-icon ion-flag" >
        Flag
    </i>
    </div>
</div>
    
   
</ion-content>

</ion-view>
  <div class = "tabs tabs-icon-only">
   <a class = "tab-item">
      <i class = "icon ion-home"></i>
   </a>
	
   <a class = "tab-item" >
      <i class = "icon ion-heart" href="#/profile"></i>
   </a>
	
   <a class = "tab-item">
      <i class = "icon ion-person"></i>
   </a>
</div>