<ion-view title="Dashboard">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-search" ng-click=search()></button>
    </ion-nav-buttons>

    <ion-content class="has-header skin">
        <div class="item item-divider text-center">
            Toys
        </div>

        <ion-scroll has-bouncing="true" direction="x" overflow-scroll="false" scrollbar-x="false">
            <div class = "row scroll-horiz">
                <div ng-click="viewDetails(item)" ng-repeat="item in categories.Toys" class="card col col-20 thumb-card">
                    <h5 class="product-head-text text-center"> {{ item.name.slice(0, 10) }}</h5>
                    <div class="item item-body item-thumb">
                        <img class="full-image" src = "{{ item.image }}">
                    </div>
                    <h5 class="product-head-text text-center"> Rs. {{ item.price.toFixed(2)}} </h5>
                </div>
            </div>
        </ion-scroll>

        <div class="item item-divider text-center">
            Bathing and Skin Care
        </div>

        <ion-scroll has-bouncing="true" direction="x" overflow-scroll="false" scrollbar-x="false">
            <div class = "row scroll-horiz">
                <div on-double-tap = "viewDetails(item)" ng-repeat="item in categories['Bathing+and+Skin+Car']" class="list card col col-20 thumb-card">
                    <h5 class="product-head-text text-center"> {{ item.name.slice(0, 10) }} </h5>
                    <div class="item item-body item-thumb">
                        <img class="full-image" src="{{ item.image }}">
                    </div>

                    <h5 class="product-head-text text-center"> Rs. {{ item.price.toFixed(2)}} </h5>
                </div>
            </div>
        </ion-scroll>

        <div class="item item-divider text-center">
            Clothes
        </div>

        <ion-scroll has-bouncing="true" direction="x" overflow-scroll="false" scrollbar-x="false">
            <div class = "row scroll-horiz">
                <div ng-click="viewDetails(item)" ng-repeat="item in categories.Clothes" class="card col col-20 thumb-card">
                    <h5 class="product-head-text text-center"> {{ item.name.slice(0, 10) }}</h5>
                    <div class="item item-body item-thumb">
                        <img class="full-image" src = "{{ item.image }}">
                    </div>
                    <h5 class="product-head-text text-center"> Rs. {{ item.price.toFixed(2)}} </h5>
                </div>
            </div>
        </ion-scroll>

        <div class="item item-divider text-center">
            Furniture
        </div>

        <ion-scroll has-bouncing="true" direction="x" overflow-scroll="false" scrollbar-x="false">
            <div class = "row scroll-horiz">
                <div ng-click="viewDetails(item)" ng-repeat="item in categories.Furniture" class="card col col-20 thumb-card">
                    <h5 class="product-head-text text-center"> {{ item.name.slice(0, 10) }}</h5>
                    <div class="item item-body item-thumb">
                        <img class="full-image" src = "{{ item.image }}">
                    </div>
                    <h5 class="product-head-text text-center"> Rs. {{ item.price.toFixed(2)}} </h5>
                </div>
            </div>
        </ion-scroll>

        <div class="item item-divider text-center">
            Gifts
        </div>

        <ion-scroll has-bouncing="true" direction="x" overflow-scroll="false" scrollbar-x="false">
            <div class = "row scroll-horiz">
                <div ng-click="viewDetails(item)" ng-repeat="item in categories.Gifts" class="card col col-20 thumb-card">
                    <h5 class="product-head-text text-center"> {{ item.name.slice(0, 10) }}</h5>
                    <div class="item item-body item-thumb">
                        <img class="full-image" src = "{{ item.image }}">
                    </div>
                    <h5 class="product-head-text text-center"> Rs. {{ item.price.toFixed(2)}} </h5>
                </div>
            </div>
        </ion-scroll>

        <div class="item item-divider text-center">
            Strollers
        </div>

        <ion-scroll has-bouncing="true" direction="x" overflow-scroll="false" scrollbar-x="false">
            <div class = "row scroll-horiz">
                <div ng-click="viewDetails(item)" ng-repeat="item in categories.Strollers" class="card col col-20 thumb-card">
                    <h5 class="product-head-text text-center"> {{ item.name.slice(0, 10) }}</h5>
                    <div class="item item-body item-thumb">
                        <img class="full-image" src = "{{ item.image }}">
                    </div>
                    <h5 class="product-head-text text-center"> Rs. {{ item.price.toFixed(2)}} </h5>
                </div>
            </div>
        </ion-scroll>

    </ion-content>
</ion-view>
