<ion-view view-title = "Dashboard">
    <br>
<ion-content class = "padding">
     <div class ="clearable-input content">

       <form class="search  col focus" method="post" action="index.html"  ng-model = "SearchQuery" autofocus autocomplete="on"/ >
		 <input type ="search" name="q" placeholder="Search" />
		 <ul class="results" >
			<li> <ion-item class = "item-thumbnail-center" href = '#'><h3>Product Name1</h3><a href = "#"></a></ion-item></li>
             <li> <ion-item class = "item-thumbnail-center" href = '#'><h3>Product Name2</h3></ion-item></li>
             <li> <ion-item class = "item-thumbnail-center" href = '#'><h3>Product Name3</h3></ion-item></li>
             <li> <ion-item class = "item-thumbnail-center" href = '#'><h3>Product Name4</h3></ion-item></li>
		 </ul>
	 </form>
        </div>
<div class="list card">
    <div class="card corner-ribbon"> New</div>
   <div class="list">

        <ion-item class="item-thumbnail-left" href = '#'>
            <img src = "/img/ben.png">
            <h2>Product Name</h2>
            <p>Description goes here</p>

        </ion-item>

    <i class="button button-icon ion-flag" >
        Flag
    </i>
    <i class = "button button-icon ion-eye">View</i>
    </div>
</div>


</ion-content>

</ion-view>

  <div class = "tabs tabs-icon-only">
   <a class = "tab-item">
      <i class = "icon ion-home"></i>

   </a>

   <a class = "tab-item" >
      <i class = "icon ion-heart" href="#/profile"></i>
   </a>

   <a class = "tab-item">
      <i class = "icon ion-person"></i>
   </a>
</div>