<ion-view view-title="Forget Password" class="background-image3">
 <ion-content ng-controller="ForgetCtrl">
      <div class="enteremail">
          <label class="item item-input">
            <input type="email" placeholder="Enter Email" ng-model="email" name="email" style="color: white;text-align: center; font-size: 16px" required>
          </label>
      </div>
      <div class="row ">
          <div class="col col text-center">
              <button class="forgetbutton" value="Forget" style="font-size: 16px">
               Enter
            </button>
          </div>
      </div>
  </ion-content>
 </ion-view>