  <ion-view view-title="Login">
   <ion-content scroll="false" ng-controller="LoginCtrl">
    <div class="background-image1">
      <div class="logo center">
        <div id="element"> <center> <img src="../img/logo.png"></center> </div>
      </div>
     <form name="myForm" novalidate>
      <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="username" ng-minlength="5" name="username" style="color: white;text-align: center; font-size: 16px" required>
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="password" ng-minlength="6" name="password" style="color: white;text-align: center;font-size: 16px" required>
          </label>
      </div>
      <div class="padding">
        <p ng-show="myForm.username.$error.required">* Username is required</p>
        <p ng-show="myForm.username.$error.minlength">* Username must be longer than 5 characters</p>
        <p ng-show="myForm.password.$error.required">* Password is required</p>
        <p ng-show="myForm.password.$error.minlength">* Password must be longer than 6 characters</p>
      </div>
      <div class="row">
          <div class="col text-center">
            <button class="loginbutton" value="Login" ng-disabled="myForm.$invalid" ng-click="submit(username)" style="font-size: 16px">
               Login
            </button>
            </div></div></form>
        <div class="row ">
            <div class="col col text-center">
                <button class="button button-clear button-light" ng-click="signup()" style="font-size: 18px;color: white ">
                    Sign up
                 </button>

            </div>
        </div>
        <div class="row ">
            <div class="col col text-center">
                <button class="button button-clear button-light" ng-click="forget()" style="font-size: 18px;color: white ">
                    Forgot Password?
                 </button>

            </div>
        </div>
      </div>
   </ion-content>
  </ion-view>