<ion-view title="Product Details">
<ion-content class="has-header" overflow-scroll="true" scrollbar-y="true" class = "padding-top padding dash-content">
    <div class="list">
        <div class="list card">
      		<div class="item item-avatar">
        		<img src="{{ productDetails.image }}">
        		<h2> {{ productDetails.name }} </h2>
         		<p> Rs. {{ productDetails.price.toFixed(2) }} </p>
      		</div>

	   		<div class="item item-text-wrap">
	   			<div class="list list-inset">
	     			<div class="item">
	     				<div class="item item-body">
	     					<img src="{{ productDetails.image }}" class="full-image">
	     				</div>
	     				<div class="padding text-center">
        					<h3>Rate the Product</h3>
       					<div>
         					<a href="javascript:" ng-repeat="r in ratingArr" class="padding" style="text-decoration:none;">
           						<i class="icon {{r.icon}}" ng-click="setRating(r.question,r.value)"></i>
        					</a>
        				</div>
      					</div>
	     				<!--//try ageRange-->
	    				<h3>Age Range</h3><h4>{{ productDetails.age }}</h4>
	     			</div>

	     			<div class="item" ng-show="productDetails.descr == null">
	     				No description available yet
	     			</div>

	     			<div class="item">
	     				{{ productDetails.descr }}
	     			</div>
	     		</div>
	     		<div class="row responsive-sm">
	     		<div class="col">
	     		<button ng-click="flagProducts()" class="button button-block button-balanced">
  					Flag 
				</button>
				</div>
				</div>
	     	</div>
     	</div>
    </div>
</ion-content>
</ion-view>


