<ion-nav-view view-title="Profile">
	<ion-view>
		<div class="row profile-banner">
			<ion-icon>ion-person</ion-icon>
			<h1 class="profile-name"> Alan Menkin </h1>
			<img class="profile-pic" src="../img/profile.jpg"/>
		</div>
		<div class="menu-wrapper">
      		<ul class="list">
        		<li  class="item ion-android-person"> Me</li>
        		 	<label class="item item-input">
    					<input type="text" placeholder="Full Name">
 					</label>
        		<li class="item ion-android-call"> Contact</li>
        		    <label class="item item-input">
    					<input type="text" placeholder="Contact">
 					</label>
        		<li class="item ion-email"> Email</li>
        			<label class="item item-input">
    					<input type="email" placeholder="Email">
 					</label>
      		</ul>
    	</div>
    	<button class="button button-outline button-positive" ng-click="next()">Next</button>
	</ion-view>
</ion-nav-view>