<div class="bar bar-dark bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <button ng-click="goBack()" class="button button-clear">
        Cancel
      </button>
</div>

<ion-view>
  <ion-content class="has-header" overflow-scroll="true" scrollbar-y="true" class = "padding-top padding dash-content">
     <div class="list">
     <div class="list card">

     <div class="item item-avatar">
        <img src="{{ productDetails.image }}">
        <h2> {{ productDetails.name }} </h2>
        <p> Rs. {{ productDetails.price.toFixed(2) }} </p>
     </div>

  <div class="item item-text-wrap">
  <div class="list list-inset">
    <div class="item">
    <h3>Age Range</h3><h4>{{ productDetails.age }}</h4>
    </div>

    <div class="item">
      <h3> Product Description </h3>
      <p ng-if="productDetails.description == undefined">No description available yet<p>
    </div>
  </div>

  <div class="fab button padding unflaged">
      <i class="icon ion ion-flag"></i>
  </div>

</div>
     </div>

    </ion-content>
</ion-view>