<ion-view>
  <ion-nav-bar class = "bar bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>
  <ion-nav-title ng-hide = "true"></ion-nav-title>
     <ion-nav-buttons side="secondary">
              <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Search">
          </label>
      </div>
          <button class="button button-icon icon ion-ios-search-strong" ng-click="gotoSearchView()"></button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content  overflow-scroll="true" scrollbar-y="true" class = "padding-top padding dash-content">
     <div class="list">
     <div class="list card">

     <div class="item item-avatar">
        <img src="img/package.png">
        <h2> {{ productDetails.prodName }} </h2>
        <p> Rs. {{ productDetails.price.toFixed(2) }} </p>
     </div>

  <div class="item item-text-wrap">
  <div class="list list-inset">
    <div class="item">
    <h3>Age Range</h3><h4>{{ productDetails.ageRange }}</h4>
    </div>

    <div class="item">
      <h3> Product Description </h3>
      <p ng-if="productDetails.description == undefined">No description available yet<p>
    </div>
  </div>

  <div class="fab button padding unflaged">
      <i class="icon ion ion-flag"></i>
  </div>

</div>
     </div>

    </ion-content>
</ion-view>