<ion-view>

  <ion-nav-bar class = "bar bar-positive">
  <ion-nav-title ng-hide = "true">f</ion-nav-title>
    <ion-nav-buttons>
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
     <ion-nav-buttons side="secondary">
              <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Search">
          </label>
      </div>
          <button class="button button-icon icon ion-ios-search-strong" ng-click="gotoSearchView()"></button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content  overflow-scroll="true" scrollbar-y="true" class = "padding-top padding dash-content">
     <div class="list">
     <div class="list card">

     <div class="item item-avatar">
        <img src="../img/package.png">
        <h2>Product Name</h2>
        <p>Company Name or something </p>
     </div>

  <div class="item item-text-wrap">
  <div class="list list-inset">
    <div class="item">
    <h3>Age Range</h3><h4>Product Age Range</h4>
    </div>
        <div class="item">
    <h3>Gender</h3><h4>Male</h4>
    </div>
        <div class="item">
    <h3>Instructions</h3>
     <p>Product Details bla bla bla bla bla bla bla<p>
    </div>
        <div class="item">
    <h3>Other Details</h3><h4>Details bla bla</h4>
    </div>
        
  
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-flag"></i>
    Flag
  </a>

</div>
     </div>

    </ion-content>
</ion-view>

