<ion-view view-title="Login" name="login-view">
 <ion-content class="padding">
     <div class ="center">
   <div class="list list-inset">
     <label class="item item-input">
       <input type="text" placeholder="Username" ng-model="data.username">
     </label>
       <label class="item item-input">
       <input type="password" placeholder="Password" ng-model="data.password">
    </label>
  </div>
  <button class="button button-block button-positive button-assertive" ng-click="login(data)">Login</button>
<button class="button button-block button-positive" ng-click="signup()">Sign up</button>
         
     </div>
     <div class="row">
        <ion-searchbar
            [(ngModel)]="myInput"
            [showCancelButton]="shouldShowCancel"
            (ionInput)="onInput($event)"
            (ionCancel)="onCancel($event)">
</ion-searchbar>
        </div>
 </ion-content>
</ion-view>